# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug
/testClass/.vs/testClass/v15/.suo
/testClass/.vs/testClass/v15/Browse.VC.db
/testClass/.vs/testClass/v15/Browse.VC.opendb
/testClass/.vs/testClass/v15/Solution.VC.db
/testClass/.vs/testClass/v15/Solution.VC.db-shm
/testClass/.vs/testClass/v15/Solution.VC.db-wal
/testClass/.vs/testClass/v15/ipch/AutoPCH/c3b9ab75c4c35010/TESTCLASS.ipch
.vs
